<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://driftrent-do-user-18333731-0.f.db.ondigitalocean.com:25060/driftrent</property>

        <property name="hibernate.connection.username">doadmin</property>
        <property name="hibernate.connection.password">AVNS_fP7kSPOwVVt9eEHM5bg</property>


        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>

        <mapping class="com.example.DriftRent.model.User"/>
        <mapping class="com.example.DriftRent.model.Ad"/>
        <mapping class="com.example.DriftRent.model.Car"/>
    </session-factory>
</hibernate-configuration>